force-app/main/default/flows/AIM_ActivateSiteBanner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>AuthenticatedUsers</name>
        <choiceText>Authenticated Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AuthenticatedUsers</stringValue>
        </value>
    </choices>
    <choices>
        <name>GuestUsers</name>
        <choiceText>All Site Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GuestUsers</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>AIM - Activate Site Banner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIM - Activate Site Banner</label>
    <loops>
        <name>Loop_Networks</name>
        <label>Loop Networks</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Broadcast_Topic_Networks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Broadcast_Audience</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Broadcast_Audience</name>
        <label>Create Broadcast Audience</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_Networks</targetReference>
        </connector>
        <inputAssignments>
            <field>AudienceId</field>
            <value>
                <elementReference>Loop_Networks.NetworkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastCommunicationId</field>
            <value>
                <elementReference>Create_Broadcast_Communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastType</field>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteBannerText</field>
            <value>
                <elementReference>Banner_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteBannerVisibility</field>
            <value>
                <elementReference>Banner_Visibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BroadcastCommAudience</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Broadcast_Communication</name>
        <label>Create Broadcast Communication</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Loop_Networks</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Banner_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastType</field>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <object>BroadcastCommunication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Banner_Topics</name>
        <label>Get Banner Topics</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Network</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastTopic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Broadcast_Topic_Networks</name>
        <label>Get Broadcast Topic Networks</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Broadcast_Communication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BroadcastTopicId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTopic.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastTopicNetwork</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Network</name>
        <label>Select Network</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Broadcast_Topic_Networks</targetReference>
        </connector>
        <fields>
            <name>dtNetwork</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BroadcastTopic</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Broadcast Topic</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Banner_Topics</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2431&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TopicType&quot;,&quot;guid&quot;:&quot;column-558b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Topic Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTopic</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Banner_Body</name>
            <fieldText>Banner Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Banner_Visibility</name>
            <choiceReferences>GuestUsers</choiceReferences>
            <choiceReferences>AuthenticatedUsers</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GuestUsers</defaultSelectedChoiceReference>
            <fieldText>Banner Visibility</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Banner_Topics</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTopic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BroadcastTopic</objectType>
    </variables>
</Flow>
