force-app/main/default/flows/AIM_NotificationScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <actionName>AIM_GetIncidentRelatedContacts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Vars</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>objContacts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Email_Sent</name>
        <label>Assign Email Sent</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EmailsSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Messaging_Sent</name>
        <label>Assign Messaging Sent</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>messagingSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>534</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>contactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Impact_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBanner</name>
        <label>AssignBanner</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>BannerAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>bot</name>
        <choiceText>Activate Incident Chatbot Deflection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>bot</stringValue>
        </value>
    </choices>
    <choices>
        <name>community</name>
        <choiceText>Activate Banner in Digital Experience Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>community</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Messaging</name>
        <choiceText>Messaging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Messaging</stringValue>
        </value>
    </choices>
    <choices>
        <name>related</name>
        <choiceText>Customers attached to this incident</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>related</stringValue>
        </value>
    </choices>
    <choices>
        <name>Report</name>
        <choiceText>Contacts returned in a specified report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>report</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slack</name>
        <choiceText>Slack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>slack</stringValue>
        </value>
    </choices>
    <decisions>
        <name>User_Selection</name>
        <label>User Selection</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Notification_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_Banner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerDeflection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>community</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BannerAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Banner_to_Experience_Site</targetReference>
            </connector>
            <label>Site Banner</label>
        </rules>
        <rules>
            <name>isEmailYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_IncidentBroadcastCommunications</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailsSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Core_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>isMessagingSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_IncidentBroadcastCommunications</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Messaging</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>messagingSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Messaging_Notifications</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
        <rules>
            <name>isSlack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_IncidentBroadcastCommunications</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Slack</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>slackSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Complete</targetReference>
            </connector>
            <label>Slack</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Notification Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>534</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Impact_Summary</name>
        <label>Display Impact Summary</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Selection</targetReference>
        </connector>
        <fields>
            <name>SummaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(29, 49, 89);&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Is currently related to &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!contactCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;contact records &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;(via case related issues and Incident related items)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerDeflection</name>
            <choiceReferences>community</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Deflection</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_IncidentBroadcastCommunications</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Slack</choiceReferences>
            <choiceReferences>Messaging</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send Incident Broadcast Communications</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Complete</name>
        <label>Notification Complete</label>
        <locationX>534</locationX>
        <locationY>1154</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>bluecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SummaryText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Notification / Deflection Flow Complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;(click finish to submit)&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Site Banner Added: &lt;strong&gt;{!BannerAdded}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Customer Emails Sent: &lt;strong&gt;{!EmailsSent}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Slack Notifications Sent: &lt;strong&gt;{!slackSent}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Messaging Notifications Sent: &lt;strong&gt;{!messagingSent}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Banner_to_Experience_Site</name>
        <label>Add Banner to Experience Site</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>AssignBanner</targetReference>
        </connector>
        <flowName>broadcast_sites__AddBannerToSites</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Core_Email</name>
        <label>Send Core Email</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Email_Sent</targetReference>
        </connector>
        <flowName>AIM_SendCoreEmail</flowName>
        <inputAssignments>
            <name>objContacts</name>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatIdName</name>
            <value>
                <elementReference>Get_Incident.Subject</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Messaging_Notifications</name>
        <label>Send Messaging Notifications</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Messaging_Sent</targetReference>
        </connector>
        <flowName>AIM_SendMessagingNotifications</flowName>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objContacts</name>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BannerAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailsSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>slackSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
