force-app/main/default/flows/AIM_Stage_Flow_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Broadcast_Communication_Ids</name>
        <label>Add Broadcast Communication Ids</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>BCIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Broadcast_Comms.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Broadcast_Comms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Banner_Removed</name>
        <label>Assign Banner Removed</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>isBannerRemoved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Vars_to_Update</name>
        <label>Assign Case Vars to Update</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>currentCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cases_Updated</name>
        <label>Assign Cases Updated</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>isCasesUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Completion_Checklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emails_Sent</name>
        <label>Assign Emails Sent</label>
        <locationX>930</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isEmailSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Knowledge_Created</name>
        <label>Assign Knowledge Created</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isKnowledgeCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Messaging_Sent</name>
        <label>Assign Messaging Sent</label>
        <locationX>1458</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isMessagingSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Slack_Sent</name>
        <label>Assign Slack Sent</label>
        <locationX>1194</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isSlackSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_closeCases</name>
        <choiceText>{!$Label.AIM_Flow_CloseCases}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>closecases</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_email</name>
        <choiceText>{!$Label.AIM_Flow_ChannelEmailLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_KB</name>
        <choiceText>{!$Label.AIM_Flow_CreateKB}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_messaging</name>
        <choiceText>{!$Label.AIM_Flow_ChannelMessagingLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>messaging</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_removeBanner</name>
        <choiceText>{!$Label.AIM_Flow_ChannelRemoveBannerLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>removebanner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_slack</name>
        <choiceText>{!$Label.AIM_Flow_ChannelSlackLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>slack</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checklist_Selection</name>
        <label>Checklist Selection</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Remove_Banner_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_removeBanner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBannerRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Broadcast_Comms</targetReference>
            </connector>
            <label>Remove Banner</label>
        </rules>
        <rules>
            <name>Close_Cases_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_closeCases</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCasesUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cases</targetReference>
            </connector>
            <label>Close Cases</label>
        </rules>
        <rules>
            <name>Knowledge_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_KB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isKnowledgeCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Knowledge_Article</targetReference>
            </connector>
            <label>Knowledge</label>
        </rules>
        <rules>
            <name>Email_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Slack_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_slack</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSlackSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REPLACE_WITH_SLACK_SUBFLOW</targetReference>
            </connector>
            <label>Slack</label>
        </rules>
        <rules>
            <name>Messaging_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_messaging</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isMessagingSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REPLACE_WITH_MESSAGING_SUBFLOW</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Stage Flow: Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Stage Flow: Completion</label>
    <loops>
        <name>Loop_Broadcast_Comms</name>
        <label>Loop Broadcast Comms</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_Broadcast_Comms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Broadcast_Communication_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Audiences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Attached_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Vars_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Audiences</name>
        <label>Get Active Audiences</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Site_Banner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastCommunicationId</field>
            <operator>In</operator>
            <value>
                <elementReference>BCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BroadcastCommAudience</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attached_Assets</name>
        <label>Get Attached Assets</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Impacted_Accounts_and_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attached_Cases</name>
        <label>Get Attached Cases</label>
        <locationX>886</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Broadcast_Comms</name>
        <label>Get Broadcast Comms</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Broadcast_Comms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastCommunication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>886</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Assign_Cases_Updated</targetReference>
        </connector>
        <inputReference>casesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>completeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_Completion_Complete}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.AIM_Flow_Click_To_Submit}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Site Banner Removed: &lt;strong&gt;{!isBannerRemoved}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cases Closed: &lt;strong&gt;{!isCasesUpdated}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Knowledge Article Created: &lt;strong&gt;{!isKnowledgeCreated}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Emails Sent: &lt;strong&gt;{!isEmailSent}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Slack Message Sent: &lt;strong&gt;{!isSlackSent}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Messages Sent: &lt;strong&gt;{!isMessagingSent}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Completion_Checklist</name>
        <label>Display Completion Checklist</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
        <fields>
            <name>completionDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!caseCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;impacted cases&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!assetCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;impacted assets&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!contactCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;impacted contacts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!accountCount} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;impacted accounts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.AIM_Flow_Completion_ChecklistTitle}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Automation_Tasks</name>
            <choiceReferences>choice_removeBanner</choiceReferences>
            <choiceReferences>choice_closeCases</choiceReferences>
            <choiceReferences>choice_KB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Automation Tasks</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_Broadcast_Communication</name>
            <choiceReferences>choice_email</choiceReferences>
            <choiceReferences>choice_slack</choiceReferences>
            <choiceReferences>choice_messaging</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send Broadcast Communication</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Knowledge_Article</name>
        <label>Create Knowledge Article</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Knowledge_Created</targetReference>
        </connector>
        <flowName>AIM_CreateKnowledgeArticle</flowName>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Impacted_Accounts_and_Contacts</name>
        <label>Get Impacted Accounts and Contacts</label>
        <locationX>886</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <flowName>Retrieve_Impacted_Accounts_and_Contacts_Flow</flowName>
        <inputAssignments>
            <name>IncidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Accounts</assignToReference>
            <name>AccountList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contacts</assignToReference>
            <name>ContactList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Remove_Site_Banner</name>
        <label>Remove Site Banner</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Assign_Banner_Removed</targetReference>
        </connector>
        <flowName>broadcast_sites__StopAllSiteBanners</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Active_Audiences.BroadcastCommunicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>REPLACE_WITH_MESSAGING_SUBFLOW</name>
        <label>[[REPLACE WITH MESSAGING SUBFLOW]]</label>
        <locationX>1458</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Messaging_Sent</targetReference>
        </connector>
        <flowName>AIM_GetIncidentStatus</flowName>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>REPLACE_WITH_SLACK_SUBFLOW</name>
        <label>[[REPLACE WITH SLACK SUBFLOW]]</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Slack_Sent</targetReference>
        </connector>
        <flowName>AIM_GetIncidentStatus</flowName>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Emails_Sent</targetReference>
        </connector>
        <flowName>AIM_GetIncidentStatus</flowName>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>assetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BCIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>casesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBannerRemoved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCasesUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isEmailSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isKnowledgeCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isMessagingSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSlackSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
