force-app/main/default/flows/AIM_SendCoreEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>AIM_SendEmails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_Complete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objContacts</name>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideEmailAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>failureIds</assignToReference>
            <name>failedContactIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>failureMessages</assignToReference>
            <name>failureMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalFailures</assignToReference>
            <name>TotalFailedEmails</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalSuccesses</assignToReference>
            <name>TotalSuccessEmails</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>emailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Email_Send</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AIM - Send Core Email {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Send Core Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Email_Send</name>
        <label>Confirm Email Send</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <fields>
            <name>confirmtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(29, 49, 89); font-size: 18px;&quot;&gt;Confirm Email Send to &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89); font-size: 18px;&quot;&gt;{!emailCount} &lt;/strong&gt;&lt;span style=&quot;color: rgb(29, 49, 89); font-size: 18px;&quot;&gt;recipients?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Save Activity: &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!saveEmailAsActivity}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Email Subject: &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!emailSubject}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Email Body:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!emailBody}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Emails</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Complete</name>
        <label>Send Email Complete</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(29, 49, 89);&quot;&gt;Email Send Complete&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bluecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailSummaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Total Emails Successfully Sent: &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!totalSuccesses}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 49, 89);&quot;&gt;Total Email Failures: &lt;/span&gt;&lt;strong style=&quot;color: rgb(29, 49, 89);&quot;&gt;{!totalFailures}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Failures</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Review Failures?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalFailures</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Email</name>
        <label>Setup Email</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Vars</targetReference>
        </connector>
        <fields>
            <name>displayIncidenttext</name>
            <fieldText>&lt;p&gt;Send Broadcast Email for record:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!whatIdName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TemplatePicker</name>
            <extensionName>c:AIM_EmailTemplateEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>whatId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailBody</assignToReference>
                <name>emailbody</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailSubject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailTemplateId</assignToReference>
                <name>templateIDs</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>saveEmailAsActivity</assignToReference>
                <name>saveactivity</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>orgWideEmailAddressId</assignToReference>
                <name>orgWideEmailAddressId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Setup_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>failureIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>failureMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>orgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saveEmailAsActivity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalFailures</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalSuccesses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatIdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
