force-app/main/default/flows/AIM_Bot_CreateCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Attach_to_Incident</name>
        <label>Attach to Incident?</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incidentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_related_Issues</targetReference>
            </connector>
            <label>Attach</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Already_Attached</name>
        <label>Is Case Already Attached?</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Related_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Is_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_related_Issues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Case Is Attached</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM Bot - Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIM Bot - Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issue</name>
        <label>Create Case Related Issue</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CreateCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedIssueId</field>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipType</field>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </inputAssignments>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCase</name>
        <label>Create Case</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attach_to_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_related_Issues</name>
        <label>Get Case related Issues</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Already_Attached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
