force-app/main/default/flows/AIM_UpdateMilestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone.IsCompleted</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignMark_Complete</name>
        <label>Mark Complete</label>
        <locationX>132</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Milestone.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isMilestone_Complete</name>
        <label>Milestone Complete?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Milestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Milestone.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output</targetReference>
            </connector>
            <label>Milestone Complete</label>
        </rules>
        <rules>
            <name>Milestone_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Milestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Milestone.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>complete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMark_Complete</targetReference>
            </connector>
            <label>Milestone Incomplete</label>
        </rules>
    </decisions>
    <description>Specify an incident&apos;s milestone name to either update to completed, or check the status of</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Update Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Update Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isMilestone_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>milestoneName</elementReference>
            </value>
        </filters>
        <object>EntityMilestone</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentEntityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Refresh_Milestone</name>
        <label>Refresh Milestone</label>
        <locationX>132</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>milestoneName</elementReference>
            </value>
        </filters>
        <object>EntityMilestone</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentEntityId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>132</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Refresh_Milestone</targetReference>
        </connector>
        <inputReference>Milestone</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntityMilestone</objectType>
    </variables>
    <variables>
        <name>milestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
