force-app/main/default/flows/AIM_SendMessagingNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Set Parameters for Notification</description>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>1058</locationX>
        <locationY>1814</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>create_a_task_record_for_messaging_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>messagingChannel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>messagingTemplate.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Loop_Messaging_Users.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Set the parameters required for SMS Notification</description>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>create_a_task_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>messagingChannel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>messagingTemplate.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>Loop_Contacts.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add the Id of the Contact to the contactIds Collection variable</description>
        <name>Add_ContactId</name>
        <label>Add ContactId</label>
        <locationX>882</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>contactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts_to_Get_MEUs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_to_Get_MEUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Task variable to Collection</description>
        <name>Add_the_Task_variable_to_Collection</name>
        <label>Add the Task variable to Collection</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>taskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Task Variable to the Collection</description>
        <name>Add_the_Task_Variable_to_the_Collection</name>
        <label>Add the Task Variable to the Collection</label>
        <locationX>1058</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>taskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Messaging_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the count of objContacts to the contactCount</description>
        <name>Assign_Contact_Count</name>
        <label>Assign Count</label>
        <locationX>422</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>contactsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>objContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Channel_and_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the errorText variable</description>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AIM_Flow_No_Contacts_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the errorText Variable</description>
        <name>Assign_Fault_Value</name>
        <label>Assign Fault Value</label>
        <locationX>1498</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the count of records obtained from Messaging User Object to the messagingUserCount variable</description>
        <name>Assign_Messaging_User_Count</name>
        <label>Assign Messaging User Count</label>
        <locationX>794</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>messagingUsersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Messaging_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Send</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a Task Record</description>
        <name>create_a_task_record</name>
        <label>Create a Task Record</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.AIM_Flow_Outbound_Message} &amp; {!messagingTemplate.Message}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messagingTemplate.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Task_variable_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a Task record</description>
        <name>create_a_task_record_for_messaging_user</name>
        <label>Create a Task record</label>
        <locationX>1058</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>taskRecord.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Messaging_Users.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Label.AIM_Flow_Outbound_Message} &amp; {!messagingTemplate.Message}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messagingTemplate.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Task_Variable_to_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update contactCount variable with the messagingUsersCount value</description>
        <name>Update_Contact_Count</name>
        <label>Update Contact Count</label>
        <locationX>970</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>contactsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messagingUsersCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Messaging_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if the Messaging Channel , Messaging templates are selected and the contacts count is greater than zero</description>
        <name>Check_if_the_Information_is_valid</name>
        <label>Check if the Information is valid</label>
        <locationX>422</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts_to_Get_MEUs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Facebook Messenger or WhatsApp Channel</defaultConnectorLabel>
        <rules>
            <name>Invalid_Information_Supplied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objContacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>messagingChannel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>messagingTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Invalid Information Supplied</label>
        </rules>
        <rules>
            <name>Text_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messagingChannel.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>Text Channel - SMS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Users count is greater than zero</description>
        <name>Check_if_the_Users_count_is_greater_than_zero</name>
        <label>Check if the Users count is greater than zero</label>
        <locationX>794</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Messaging Users Exist</defaultConnectorLabel>
        <rules>
            <name>No_Messaging_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messagingUsersCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>No Messaging Users</label>
        </rules>
    </decisions>
    <description>Flow for sending Messaging Notifications</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Send Messaging Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Send Messaging Notifications</label>
    <loops>
        <description>Iterate over the contacts list</description>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>objContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_SMS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Contacts</description>
        <name>Loop_Contacts_to_Get_MEUs</name>
        <label>Loop Contacts</label>
        <locationX>794</locationX>
        <locationY>758</locationY>
        <collectionReference>objContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ContactId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Messaging_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Messaging Users Collection variable</description>
        <name>Loop_Messaging_Users</name>
        <label>Loop Messaging Users</label>
        <locationX>970</locationX>
        <locationY>1694</locationY>
        <collectionReference>Get_Messaging_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create Task Records</description>
        <name>create_Task_Records</name>
        <label>create Task Records</label>
        <locationX>422</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <inputReference>taskRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the List of Available Messaging Channels</description>
        <name>Get_Messaging_Channels</name>
        <label>Get Messaging Channels</label>
        <locationX>422</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Messaging_Templates</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Value</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Text</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facebook</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the list of Messaging Templates</description>
        <name>Get_Messaging_Templates</name>
        <label>Get Messaging Templates</label>
        <locationX>422</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Value</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the List of Messaging Users</description>
        <name>Get_Messaging_Users</name>
        <label>Get Messaging Users</label>
        <locationX>794</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Messaging_User_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fault_Value</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>In</operator>
            <value>
                <elementReference>contactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingChannel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen displaying &apos;Message Sent&apos; Information</description>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>422</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completeCheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>completiontext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!contactsCount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.AIM_Flow_Notifications_Sent_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for displaying confirmation message</description>
        <name>Confirm_Send</name>
        <label>Confirm Send</label>
        <locationX>794</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>Check_if_the_Users_count_is_greater_than_zero</targetReference>
        </connector>
        <fields>
            <name>notificationConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_Outbound_Messages_Requirement}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px;&quot;&gt;{!messagingUsersCount} &lt;/strong&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 12px;&quot;&gt;contacts are opted in out of the&lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px;&quot;&gt;{!contactsCount}&lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt; contacts&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;that you&apos;ve selected to notify.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Therefore we can message only the {!messagingUsersCount} that have opted in.{!$Label.AIM_Flow_Click_Send_Messages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Message(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen displaying the Error Messages</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1498</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>errorTextDisplayArea</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 6, 6);&quot;&gt;{!$Label.AIM_Flow_Error_Header}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!errorText}&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select Messaging Channel and Messaging Template</description>
        <name>Select_Channel_and_Template</name>
        <label>Select Channel and Template</label>
        <locationX>422</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>Check_if_the_Information_is_valid</targetReference>
        </connector>
        <fields>
            <name>selectionText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!contactsCount}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Label.AIM_Flow_Contacts_Notification_Message}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_Select_Messaging_Template_And_Messaging_Channel}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataTableChannel</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MessagingChannel</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Messaging Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Messaging_Channels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-a4b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Channel Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MessageType&quot;,&quot;guid&quot;:&quot;column-c4c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeveloperName&quot;,&quot;guid&quot;:&quot;column-7bbf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Developer Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>messagingChannel</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dataTableMessagingTemplate</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MessagingTemplate</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Template Message</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Messaging_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-e287&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Message&quot;,&quot;guid&quot;:&quot;column-11d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Message&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>messagingTemplate</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Send Message(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>296</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Channels</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingChannel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingChannel</objectType>
    </variables>
    <variables>
        <name>messagingTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingTemplate</objectType>
    </variables>
    <variables>
        <description>Messaging Users Count variable</description>
        <name>messagingUsersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>objContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Record of Type Task</description>
        <name>taskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Collection variable holding the records of type Task</description>
        <name>taskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
