force-app/main/default/flows/AIM_FilterExistingIncidentRelatedItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Remove_Asset_from_List</name>
        <label>Remove Asset from List</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>AssetIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Existing_Assets.AssetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Case_from_List</name>
        <label>Remove Case from List</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CaseIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Existing_Cases.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Already_Related</name>
        <label>Asset Already Related?</label>
        <locationX>396</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AssetExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Existing_Assets.AssetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Asset_from_List</targetReference>
            </connector>
            <label>Asset Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Already_Related</name>
        <label>Case Already Related?</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop_Existing_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Existing_Cases.CaseId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Case_from_List</targetReference>
            </connector>
            <label>Case Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Filter Existing Incident Related Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIM - Filter Existing Incident Related Items</label>
    <loops>
        <name>Loop_Existing_Assets</name>
        <label>Loop Existing Assets</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_Existing_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Already_Related</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Cases</name>
        <label>Loop Existing Cases</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Existing_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_Already_Related</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Assets</name>
        <label>Get Existing Assets</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Cases</name>
        <label>Get Existing Cases</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
