force-app/main/default/flows/AIM_FlowScheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Schedule</name>
        <label>Remove Schedule</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>AIM_CreateFlowSchedule</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Completed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <elementReference>SelectedFlow.ApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowNamespace</name>
            <value>
                <elementReference>SelectedFlow.NamespacePrefix</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Flow</name>
        <label>Schedule Flow</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>AIM_CreateFlowSchedule</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowAPIName</name>
            <value>
                <elementReference>SelectedFlow.ApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowNamespace</name>
            <value>
                <elementReference>SelectedFlow.NamespacePrefix</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>freq</name>
            <value>
                <elementReference>Run_Every</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hourmin</name>
            <value>
                <elementReference>HourMin</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nothing_Selected</name>
        <label>Nothing Selected</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Flow Selected to Schedule. Click Next to start over</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Hours</name>
        <choiceText>Hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minutes</name>
        <choiceText>Minutes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>minute</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove</name>
        <choiceText>Remove Flow Schedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateScheduleforFlow</name>
        <choiceText>Update Flow Schedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Flow_Selected</name>
        <label>Flow Selected?</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Nothing_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FlowSelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedFlow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Operation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Remove</name>
        <label>Update or Remove?</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Remove_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UpdateScheduleforFlow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Schedule</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIM - Flow Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Active_Flows</name>
        <label>Get All Active Autolaunched Flows</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoLaunchedFlow</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowDefinitionView</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Flow &quot;&lt;strong&gt;{!SelectedFlow.Label}&lt;/strong&gt;&quot; successfully scheduled to run every &lt;strong&gt;{!Run_Every} {!HourMin}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to_do</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>UpdateScheduleforFlow</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RemoveDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Flow &quot;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!SelectedFlow.Label}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot; successfully unscheduled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to_do</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Remove</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Flow</targetReference>
        </connector>
        <fields>
            <name>DispError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;An Error Occured&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 69, 69);&quot;&gt;{!errorText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Operation</name>
        <label>Schedule Operation</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_or_Remove</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>UpdateScheduleforFlow</choiceReferences>
            <choiceReferences>Remove</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>UpdateScheduleforFlow</defaultSelectedChoiceReference>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Flow</name>
        <label>Select Flow</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectLabel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Select a flow to Schedule&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dgflow</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FlowDefinitionView</typeValue>
            </dataTypeMappings>
            <extensionName>c:aim_Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_Flows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>Label,Description,NamespacePrefix,VersionNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedFlow</assignToReference>
                <name>firstSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Schedule</name>
        <label>Set Schedule</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Schedule_Flow</targetReference>
        </connector>
        <fields>
            <name>RunDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select a Schedule to Run:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!SelectedFlow.Label}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Run_Every</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>Run Every</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Valid Values:&lt;/p&gt;&lt;p&gt;Minutes: 1,2,3,4,5,10,15,20,30&lt;/p&gt;&lt;p&gt;Hours: 1,2,3,4,5,6,8,12&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(AND({!Run_Every} &gt; 0, {!Run_Every} &lt;= 5),
AND({!Run_Every} == 10, {!HourMin} == {!Minutes}),
AND({!Run_Every} == 15, {!HourMin} == {!Minutes}),
AND({!Run_Every} == 20, {!HourMin} == {!Minutes}),
AND({!Run_Every} == 30, {!HourMin} == {!Minutes}),
AND({!Run_Every} == 6, {!HourMin} == {!Hours}),
AND({!Run_Every} == 8, {!HourMin} == {!Hours}),
AND({!Run_Every} == 12, {!HourMin} == {!Hours})
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>HourMin</name>
            <choiceReferences>Minutes</choiceReferences>
            <choiceReferences>Hours</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Minutes</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Active_Flows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowDefinitionView</objectType>
    </variables>
</Flow>
