force-app/main/default/flows/AIM_IncidentDetector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_related_incident</name>
        <label>Find related incident</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <actionName>RelatedIncidentDetectorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Related_Incident_Returned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isAssetMatchEnabled</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Get_Existing_Incident_Match_Report.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseOrAssetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>incidentId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_CaseIds_from_Report</name>
        <label>Get CaseIds from Report</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <actionName>ReportDataRetrieverAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Case_Count</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>developerNames</name>
            <value>
                <elementReference>Get_New_Incident_Detector_Report.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>caseIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Case_Collection</name>
        <label>Add Case to Case Collection</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>caseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_already_related_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Count</name>
        <label>Assign Case Count</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>caseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Case_Count_Breach_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Count_2</name>
        <label>Assign Case Count</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_to_add_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Related_Issues</name>
        <label>Set Case Related Issues</label>
        <locationX>138</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CaseIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRelatedIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CaseIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cases_to_add_decision</name>
        <label>Cases to add?</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No cases to add</defaultConnectorLabel>
        <rules>
            <name>Cases_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CaseIds</targetReference>
            </connector>
            <label>Cases to add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AIM_Bypass_Custom_Setting</name>
        <label>Check AIM Bypass Custom Setting</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Bypass the flow</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Incident_Match_Report</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Count_Breach_Threshold</name>
        <label>Does Case Count Breach Threshold?</label>
        <locationX>710</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Under Threshold</defaultConnectorLabel>
        <rules>
            <name>Over_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CaseCountThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Incident</targetReference>
            </connector>
            <label>Over Threshold - Create Incident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Incident_Returned</name>
        <label>Related Incident Returned?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Get_New_Incident_Detector_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No incident returned - Check for new Incident</defaultConnectorLabel>
        <rules>
            <name>Incident_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incidentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_to_Case_Collection</targetReference>
            </connector>
            <label>Incident returned - Attach to Incident</label>
        </rules>
    </decisions>
    <description>This component is a record-triggered flow that executes on the creation of a case. Its purpose is to evaluate if the newly created case should either:

1. Be attached to an existing ongoing incident.
2. Used to create a new incident.

Either none or (at most) one of those outcomes may occur. This will be based on referenced reports, thresholds, and configurations the incident manager can set as part of a configuration.</description>
    <environments>Default</environments>
    <formulas>
        <name>BypassFlow</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.AIMBypassFlows__c.Flow_Developer_Name__c} = &apos;AIM_IncidentDetector&apos;, {!$Setup.AIMBypassFlows__c.isActive__c})</expression>
    </formulas>
    <formulas>
        <name>incidentDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Incident automatically created by AIM detector.&quot; &amp; BR() &amp;
&quot;Case threshold breached on report &apos;&quot; &amp; {!Get_Existing_Incident_Match_Report.Name} &amp; &quot;&apos; of &quot; &amp; TEXT({!CaseCountThreshold}) &amp; &quot; cases.&quot;</expression>
    </formulas>
    <formulas>
        <name>incidentSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Incident - &apos; &amp; {!$Record.Subject}</expression>
    </formulas>
    <interviewLabel>AIM - Incident Detector {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Incident Detector</label>
    <loops>
        <name>Loop_CaseIds</name>
        <label>Loop CaseIds</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>caseIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Related_Issues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Related_Issues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issues</name>
        <label>Create Case Related Issues</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputReference>caseRelatedIssues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignRecordIdToReference>incidentId</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Filter_already_related_cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>incidentDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetectedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>incidentSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Incident_Match_Report</name>
        <label>Get Existing Incident Match Report</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_related_incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reportName_ExistingIncidentMatch</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Incident_Detector_Report</name>
        <label>Get New Incident Detector Report</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CaseIds_from_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reportName_NewIncidentDetector</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_AIM_Bypass_Custom_Setting</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Filter_already_related_cases</name>
        <label>Filter already related cases</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Assign_Case_Count_2</targetReference>
        </connector>
        <flowName>AIM_FilterExistingIncidentRelatedItems</flowName>
        <inputAssignments>
            <name>caseIds</name>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseIds</assignToReference>
            <name>caseIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CaseCountThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRelatedIssue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>caseRelatedIssues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reportName_ExistingIncidentMatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AIM - Cases Existing Incident Match</stringValue>
        </value>
    </variables>
    <variables>
        <name>reportName_NewIncidentDetector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AIM - Cases New Incident Detector</stringValue>
        </value>
    </variables>
</Flow>
