force-app/main/default/flows/AIM_CategorizationScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Incident_Related_Item</name>
        <label>Add Incident Related Item</label>
        <locationX>523</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>IncidentRelatedItem.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncidentRelatedItem.IncidentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRIsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IncidentRelatedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Manual_Merge_to_Collection</name>
        <label>Add Manual Merge to Collection</label>
        <locationX>50</locationX>
        <locationY>5006</locationY>
        <assignmentItems>
            <assignToReference>MergeIncidents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manual_Incident_to_Add_Merge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Merge_Incidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Case_Related_Item</name>
        <label>Add New Case Related Item</label>
        <locationX>457</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>caseRelatedItem.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Case_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedItem.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedItem.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRIstoAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRelatedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Case_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>798</locationX>
        <locationY>4766</locationY>
        <assignmentItems>
            <assignToReference>mergeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MergeIncidents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_we_performing_a_merge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_from_I_W_Logic</name>
        <label>Assign Count from I&amp;W Logic</label>
        <locationX>501</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CasesToAddIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_from_I_W_Logic_0</name>
        <label>Assign Count from I&amp;W Logic</label>
        <locationX>567</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AssetstoAddIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_Found_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent</name>
        <label>Assign Parent</label>
        <locationX>754</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>LoopMergeIncidents.ParentIncidentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetMergeIncident</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMergeIncidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vars</name>
        <label>Assign Vars</label>
        <locationX>886</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>relatedCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_RelatedCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAssets</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Target</name>
        <label>Default Target</label>
        <locationX>490</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>targetMergeIncident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merge_Incidents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>REPLACE_WITH_ASSETREPORT_LOOKUP</name>
        <label>REPLACE WITH REPORT LOOKUP</label>
        <locationX>567</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>AssetstoAddIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>02i4x000000jAiMAAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Existing_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>REPLACE_WITH_REPORTCASE_LOOKUP</name>
        <label>[REPLACE WITH REPORT LOOKUP]</label>
        <locationX>501</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>CasesToAddIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>5004x00000KvTmkAAF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Existing_Attached_Cases</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddMerge</name>
        <choiceText>Add incidents - bulk search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>bulkmergesearch</stringValue>
        </value>
    </choices>
    <choices>
        <name>back</name>
        <choiceText>Go Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>back</stringValue>
        </value>
    </choices>
    <choices>
        <name>complete</name>
        <choiceText>Complete categorization stage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>findassets</name>
        <choiceText>Find potentially related assets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>findassets</stringValue>
        </value>
    </choices>
    <choices>
        <name>findcases</name>
        <choiceText>Find potentially related cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>findcases</stringValue>
        </value>
    </choices>
    <choices>
        <name>manualmergeadd</name>
        <choiceText>Add incidents - manual search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manualmergeadd</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchSameAsset</name>
        <choiceText>Match Same Asset&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(68, 68, 68);&quot;&gt;(If selected, all assets referenced by any cases already attached to the incident will be attached to the incident directly.)&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchSameProduct</name>
        <choiceText>Match Same Product&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;(If selected, all assets that share a same product as any assets already attached to the incident will be added to the incident.)&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>product</stringValue>
        </value>
    </choices>
    <choices>
        <name>merge</name>
        <choiceText>Find duplicate incidents / merge incidents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>merge</stringValue>
        </value>
    </choices>
    <choices>
        <name>NearbyAsset</name>
        <choiceText>Nearby Assets&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(68, 68, 68);&quot;&gt;(If selected, all open cases who&apos;s assets are within distance of an incident&apos;s asset will be added)&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>proximity</stringValue>
        </value>
    </choices>
    <choices>
        <name>performmerge</name>
        <choiceText>Finish - merge incidents above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>performmerge</stringValue>
        </value>
    </choices>
    <choices>
        <name>removemerge</name>
        <choiceText>Remove incidents from merge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>removemerge</stringValue>
        </value>
    </choices>
    <choices>
        <name>skipmerge</name>
        <choiceText>Skip merge step</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>skipmerge</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_we_performing_a_merge</name>
        <label>Are we performing a merge?</label>
        <locationX>798</locationX>
        <locationY>4886</locationY>
        <defaultConnector>
            <targetReference>Confirm_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPeformMerge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetMergeIncident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>mergeCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MergeIncidents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Merge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Selection_Type</name>
        <label>Asset Report Selected?</label>
        <locationX>721</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Merge_Similar_Incidents_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReportSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REPLACE_WITH_ASSETREPORT_LOOKUP</targetReference>
            </connector>
            <label>Report Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assets_Found_0</name>
        <label>Assets Found?</label>
        <locationX>567</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Merge_Similar_Incidents_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAssetsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_assets_to_add_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found</name>
        <label>Cases Found?</label>
        <locationX>501</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>No_Records_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCasesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_cases_to_add</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Similar_Assets_Selected</name>
        <label>Find Similar Assets Selected?</label>
        <locationX>886</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Merge_Similar_Incidents_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>findAssetsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whattodo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>findassets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_report_to_add_cases_from_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Similar_Cases_Selected</name>
        <label>Find Similar Cases Selected?</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Find_Similar_Assets_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>findCasesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whattodo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>findcases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Categorization_Complete</name>
        <label>is Categorization Complete?</label>
        <locationX>886</locationX>
        <locationY>5990</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_RelatedCases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isyescategorizationcomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>complete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompleteScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Report_Selected</name>
        <label>Is Report Selected?</label>
        <locationX>699</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Find_Similar_Assets_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReportSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REPLACE_WITH_REPORTCASE_LOOKUP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merge_Similar_Incidents_Selected</name>
        <label>Merge Similar Incidents Selected?</label>
        <locationX>886</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>Confirm_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MergeIncidentsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whattodo</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>merge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Target</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>whatis_Merge_Action</name>
        <label>Merge Action</label>
        <locationX>490</locationX>
        <locationY>4646</locationY>
        <defaultConnector>
            <targetReference>Confirm_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBulk_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>merge_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddMerge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Complete</targetReference>
            </connector>
            <label>Bulk Search</label>
        </rules>
        <rules>
            <name>is_Manual_Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>merge_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>manualmergeadd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addmergeincident</targetReference>
            </connector>
            <label>Manual Search</label>
        </rules>
        <rules>
            <name>isRemove_Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>merge_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>removemerge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Incidents_to_Merge</targetReference>
            </connector>
            <label>Remove Merge</label>
        </rules>
        <rules>
            <name>isFinish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>merge_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>performmerge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count</targetReference>
            </connector>
            <label>Finish</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AIM - Categorization Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Categorization Screen Flow</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>435</locationX>
        <locationY>3542</locationY>
        <collectionReference>AssetstoAddIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Incident_Related_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Incident_Related_Items_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Case_IDs</name>
        <label>Loop Through Case IDs</label>
        <locationX>369</locationX>
        <locationY>1838</locationY>
        <collectionReference>CasesToAddIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_New_Case_Related_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Related_Issue_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopMergeIncidents</name>
        <label>LoopMergeIncidents</label>
        <locationX>666</locationX>
        <locationY>5126</locationY>
        <collectionReference>MergeIncidents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Incidents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issue_Records</name>
        <label>Create Case Related Issue Records</label>
        <locationX>369</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Find_Similar_Assets_Selected</targetReference>
        </connector>
        <inputReference>CRIstoAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident_Related_Items_0_0</name>
        <label>Create Incident Related Items</label>
        <locationX>435</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Merge_Similar_Incidents_Selected</targetReference>
        </connector>
        <inputReference>IRIsToAdd</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>886</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RelatedCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manual_Incident_to_Add_Merge</name>
        <label>Get Manual Incident to Add Merge</label>
        <locationX>50</locationX>
        <locationY>4886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Manual_Merge_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>manualIncidentIdtoAddMerge</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Assets</name>
        <label>Get Related Assets</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RelatedCases</name>
        <label>Get Related Cases</label>
        <locationX>886</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>699</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_report_to_add_cases_from</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Format</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tabular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Format</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Summary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Report</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FolderName</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ReportTypeApiName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incidents</name>
        <label>Update Incidents</label>
        <locationX>666</locationX>
        <locationY>5462</locationY>
        <connector>
            <targetReference>Confirm_Complete</targetReference>
        </connector>
        <inputReference>MergeIncidents</inputReference>
    </recordUpdates>
    <screens>
        <name>Addmergeincident</name>
        <label>Add Merge Incident</label>
        <locationX>50</locationX>
        <locationY>4766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Manual_Incident_to_Add_Merge</targetReference>
        </connector>
        <fields>
            <name>lookup_addmergeIncident</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentIncidentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Incident to add to merge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>manualIncidentIdtoAddMerge</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompleteScreen</name>
        <label>Complete</label>
        <locationX>754</locationX>
        <locationY>6110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>categorizationcompletetext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(29, 49, 89); font-size: 18px;&quot;&gt;Categorization Stage Complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(29, 49, 89); font-size: 12px;&quot;&gt;click finish to submit&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>completeimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_assets_to_add_0</name>
        <label>Confirm assets to add</label>
        <locationX>435</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
        <fields>
            <name>caseaddconfirm_0</name>
            <fieldText>&lt;p&gt;Click Next to confirm adding &lt;strong&gt;{!AssetCount} &lt;/strong&gt;asset(s) to the incident from report &lt;strong&gt;&quot;{!selectedReport.Name}&quot;&lt;/strong&gt;. Otherwise, click previous.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_cases_to_add</name>
        <label>Confirm cases to add</label>
        <locationX>369</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Case_IDs</targetReference>
        </connector>
        <fields>
            <name>caseaddconfirm</name>
            <fieldText>&lt;p&gt;Click Next to confirm adding &lt;strong&gt;{!caseCount} &lt;/strong&gt;case(s) to the incident from report &lt;strong&gt;&quot;{!selectedReport.Name}&quot;&lt;/strong&gt;. Otherwise, click previous.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Complete</name>
        <label>Confirm Complete</label>
        <locationX>886</locationX>
        <locationY>5870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_Categorization_Complete</targetReference>
        </connector>
        <fields>
            <name>confirmcompletetext</name>
            <fieldText>&lt;p&gt;All categorization steps completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cases added to Incident:&lt;strong&gt; {!caseCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Assets added to incident: &lt;strong&gt;{!AssetCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Incidents merged:&lt;strong&gt; {!mergeCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>back</choiceReferences>
            <choiceReferences>complete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Merge</name>
        <label>Confirm Merge</label>
        <locationX>666</locationX>
        <locationY>5006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopMergeIncidents</targetReference>
        </connector>
        <fields>
            <name>displaymergeconfirmation</name>
            <fieldText>&lt;p&gt;Confirm merging &lt;strong&gt;{!mergeCount}&lt;/strong&gt; incidents to parent incident. Clicking Next will perform the merge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Similar_Cases_Selected</targetReference>
        </connector>
        <fields>
            <name>summarytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Status: {!Get_Incident.Status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total related cases: &lt;strong&gt;{!relatedCaseCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Total related assets: &lt;strong&gt;{!relatedAssets}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>whattodo</name>
            <choiceReferences>findcases</choiceReferences>
            <choiceReferences>findassets</choiceReferences>
            <choiceReferences>merge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do with this incident?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Merge_Incidents</name>
        <label>Merge Incidents</label>
        <locationX>490</locationX>
        <locationY>4526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>whatis_Merge_Action</targetReference>
        </connector>
        <fields>
            <name>LookupIncident</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentIncidentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Incident for Merge</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>targetMergeIncident</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>targetMergeIncident</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>displayMerge</name>
            <fieldText>&lt;p&gt;The incidents below will be merged to the target incident above.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayDupeIncidents</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Incident</typeValue>
            </dataTypeMappings>
            <extensionName>c:aim_Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MergeIncidents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>Subject,Category,Status,CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>merge_action</name>
            <choiceReferences>AddMerge</choiceReferences>
            <choiceReferences>manualmergeadd</choiceReferences>
            <choiceReferences>removemerge</choiceReferences>
            <choiceReferences>performmerge</choiceReferences>
            <choiceReferences>skipmerge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Records_Found</name>
        <label>No Records Found</label>
        <locationX>633</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>norecordsdisplay</name>
            <fieldText>&lt;p&gt;No records to add. Click previous and modify your selection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Incidents_to_Merge</name>
        <label>Remove Incidents to Merge</label>
        <locationX>314</locationX>
        <locationY>4766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Merge_Incidents</targetReference>
        </connector>
        <fields>
            <name>removeIncidentsText</name>
            <fieldText>&lt;p&gt;Deselect any incidents to remove from the collection&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>removeIncidentsDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Incident</typeValue>
            </dataTypeMappings>
            <extensionName>c:aim_Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MergeIncidents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>Subject,Category,Status,CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>MergeIncidents</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MergeIncidents</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_report_to_add_cases_from</name>
        <label>Select report to add cases from</label>
        <locationX>699</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Report_Selected</targetReference>
        </connector>
        <fields>
            <name>selectReportDisplayText</name>
            <fieldText>&lt;p&gt;Select a report that contains the list of cases you&apos;d like to add to the Incident. Please ensure the report is a tabular report with CaseID in the first column.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtReports</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Report</typeValue>
            </dataTypeMappings>
            <extensionName>c:aim_Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Reports</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>FolderName,Name,DeveloperName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedReport</assignToReference>
                <name>firstSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_report_to_add_cases_from_0</name>
        <label>Select report to add cases from</label>
        <locationX>721</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Selection_Type</targetReference>
        </connector>
        <fields>
            <name>Asset_Matching</name>
            <choiceReferences>MatchSameProduct</choiceReferences>
            <choiceReferences>MatchSameAsset</choiceReferences>
            <choiceReferences>NearbyAsset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset Matching</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Distance_Radius_miles</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Specify distance radius (miles) if nearby assets selected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>selectReportDisplayText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 10px; background-color: rgb(255, 255, 255);&quot;&gt;All open cases that reference any assets found by above selections will also be attached to the incident.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Optionally, also select a report that contains the list of assets you&apos;d like to add to the Incident. Please ensure the report is a tabular report with AssetID in the first column.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtReports_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Report</typeValue>
            </dataTypeMappings>
            <extensionName>c:aim_Datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Reports</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>FolderName,Name,DeveloperName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedReport</assignToReference>
                <name>firstSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Filter_Existing_Assets</name>
        <label>Filter Existing Assets</label>
        <locationX>567</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Assign_Count_from_I_W_Logic_0</targetReference>
        </connector>
        <flowName>AIM_FilterExistingIncidentRelatedItems</flowName>
        <inputAssignments>
            <name>AssetIds</name>
            <value>
                <elementReference>AssetstoAddIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssetstoAddIds</assignToReference>
            <name>AssetIds</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Filter_Existing_Attached_Cases</name>
        <label>Filter Existing Attached Cases</label>
        <locationX>501</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_Count_from_I_W_Logic</targetReference>
        </connector>
        <flowName>AIM_FilterExistingIncidentRelatedItems</flowName>
        <inputAssignments>
            <name>CaseIds</name>
            <value>
                <elementReference>CasesToAddIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IncidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CasesToAddIDs</assignToReference>
            <name>CaseIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssetstoAddIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseRelatedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>CasesToAddIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRIstoAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncidentRelatedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IncidentRelatedItem</objectType>
    </variables>
    <variables>
        <name>IRIsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IncidentRelatedItem</objectType>
    </variables>
    <variables>
        <name>manualIncidentIdtoAddMerge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mergeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MergeIncidents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <name>relatedAssets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>relatedCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Report</objectType>
    </variables>
    <variables>
        <name>targetMergeIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
