force-app/main/default/flows/AIM_SendCoreEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Apex action call for sending emails</description>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>AIM_SendEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_Complete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideEmailAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldSaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>failureIds</assignToReference>
            <name>failedContactIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>failureMessages</assignToReference>
            <name>failureMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalFailures</assignToReference>
            <name>totalFailedEmails</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalSuccesses</assignToReference>
            <name>totalSuccessEmails</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Email_Count</name>
        <label>Assign Email Count</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>emailCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criteria_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Criteria_Check</name>
        <label>Criteria Check</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid info</defaultConnectorLabel>
        <rules>
            <name>All_criteria_supplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orgWideEmailAddressId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailBody</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailSubject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Email_Send</targetReference>
            </connector>
            <label>All criteria supplied</label>
        </rules>
    </decisions>
    <description>This Flow sends core email notifications to the contacts. It will allow the user to choose an email template, and/or write a message to send, and send the emails.</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Send Core Email {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Send Core Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Email_Send</name>
        <label>Confirm Email Send</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <fields>
            <name>confirmtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_SendCoreEmail_ConfirmText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;Emails to send: &lt;/span&gt;&lt;strong&gt;{!emailCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email Subject&lt;/strong&gt;&lt;strong&gt;: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;﻿{!emailSubject}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Email Body&lt;/strong&gt;&lt;strong&gt;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!emailBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Emails</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;{!$Label.AIM_Flow_SendCoreEmail_InvalidInfo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Complete</name>
        <label>Send Email Complete</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_SendCoreEmail_CompleteText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bluecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailSummaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Emails Successfully Sent: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!totalSuccesses}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Total Email Failures: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!totalFailures}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>failuretext</name>
            <fieldText>&lt;p&gt;Errors:&lt;/p&gt;&lt;p&gt;{!failureMessages}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalFailures</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Email</name>
        <label>Setup Email</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email_Count</targetReference>
        </connector>
        <fields>
            <name>displayIncidenttext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_SendCoreEmail_SendEmailTitle}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Incident.IncidentNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Incident.Subject}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TemplatePicker</name>
            <extensionName>c:emailTemplateEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>whatId</name>
                <value>
                    <elementReference>incidentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subject</name>
                <value>
                    <elementReference>emailSubject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailBody</name>
                <value>
                    <elementReference>emailBody</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>incidentId</assignToReference>
                <name>whatId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>orgWideEmailAddressId</assignToReference>
                <name>orgWideEmailAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailSubject</assignToReference>
                <name>subject</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailBody</assignToReference>
                <name>emailBody</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>emailTemplateId</assignToReference>
                <name>templateId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>failureIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>failureMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saveEmailAsActivity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalFailures</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalSuccesses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
