force-app/main/default/flows/AIM_UpdateMilestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>populate the &apos;isMilestoneCompleted&apos; boolean variable with the Milestone status</description>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>270</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>isMilestoneCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>milestoneRecord.IsCompleted</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>populate &apos;isMilestoneCompleted&apos; boolean variable to  false</description>
        <name>Assign_Output_to_False</name>
        <label>Assign Output to False</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isMilestoneCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Move the Milestone to the completed stage</description>
        <name>AssignMark_Complete</name>
        <label>Mark Complete</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>milestoneRecord.CompletionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if the Milestone can be marked as complete</description>
        <name>isMilestone_Complete</name>
        <label>Milestone Complete?</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_Output_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing Found</defaultConnectorLabel>
        <rules>
            <name>Mark_Milestone_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>milestoneRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>milestoneRecord.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>markComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMark_Complete</targetReference>
            </connector>
            <label>Mark Milestone Complete</label>
        </rules>
        <rules>
            <name>No_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>milestoneRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output</targetReference>
            </connector>
            <label>No Update</label>
        </rules>
    </decisions>
    <description>Flow to update the status of the Milestone associated with the Incident or to read the current status of the Milestone associated with the Incident</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Update Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Update Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the record from Object Milestone sObject matching the filter criteria</description>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isMilestone_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>milestoneName</elementReference>
            </value>
        </filters>
        <object>EntityMilestone</object>
        <outputReference>milestoneRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentEntityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the status of the updated Milestone record</description>
        <name>Refresh_Milestone</name>
        <label>Refresh Milestone</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>milestoneName</elementReference>
            </value>
        </filters>
        <object>EntityMilestone</object>
        <outputReference>milestoneRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
        <queriedFields>CompletionDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentEntityId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>update the Milestone record</description>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Refresh_Milestone</targetReference>
        </connector>
        <inputReference>milestoneRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Incident</description>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This boolean variable holds the status of the Milestone</description>
        <name>isMilestoneCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>if this boolean variable is true, milestone status will be marked as completed</description>
        <name>markComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Name of the Milestone</description>
        <name>milestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Object Milestone record</description>
        <name>milestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>EntityMilestone</objectType>
    </variables>
</Flow>
