force-app/main/default/flows/AIM_IncidentDetection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_New_Incident_Properties</name>
        <label>Assign New Incident Properties</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NewIncident.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.SubCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.SubCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.EntitlementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Impact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Impact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Urgency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Urgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.DetectedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewIncident.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Incident.Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Incident</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Parameters</name>
        <label>Initialize Parameters</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>CaseCountThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemplateIncidentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INC-000000001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeHorizonMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Incident</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Count</name>
        <label>Set Case Count</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ReturnedCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criteria_Check_Incident_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Criteria_Check_Incident_Creation</name>
        <label>Criteria Check Incident Creation</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criteria_Is_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CaseCountThreshold</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Template_Incident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_Open_Incidents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Incident_Properties</targetReference>
            </connector>
            <label>Criteria Met to Create Incident</label>
        </rules>
    </decisions>
    <description>This flow will detect unusual patterns in case volume to automatically create incidents from templates</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseTimeHorizon</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - ({!TimeHorizonMinutes}/1440)</expression>
    </formulas>
    <interviewLabel>AIM - Incident Detection {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Incident Detection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>NewIncident</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Open_Incidents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CaseTimeHorizon</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ReturnedCases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Open_Incidents</name>
        <label>Get Existing Open Incidents</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Template_Incident.Category</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubCategory</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Template_Incident.SubCategory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Incident</name>
        <label>Get Template Incident</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TemplateIncidentNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialize_Parameters</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>IncidentDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Incident automatically created&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CaseCountThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewIncident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <name>ReturnedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TemplateIncidentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeHorizonMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
</Flow>
