force-app/main/default/flows/AIMBot_GetBannerText.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>AIM Bot - Get Banner Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIM Bot - Get Banner Text</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Broadcast_Communication_Audience</name>
        <label>Get Broadcast Communication Audience</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </filters>
        <filters>
            <field>AudienceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NetworkID</elementReference>
            </value>
        </filters>
        <object>BroadcastCommAudience</object>
        <outputAssignments>
            <assignToReference>BannerText</assignToReference>
            <field>SiteBannerText</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>broadcastCommunicationId</elementReference>
            </value>
        </filters>
        <object>BroadcastCommunication</object>
        <outputAssignments>
            <assignToReference>incidentId</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Broadcast_Communication_Audience</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BannerText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>broadcastCommunicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NetworkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
