force-app/main/default/flows/Retrieve_Impacted_Accounts_and_Contacts_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Get the AccountId of the Asset and add it to the AccountIdList</description>
        <name>Add_the_AccountId_of_the_Asset_to_the_AccountIdList</name>
        <label>Add the AccountId of the Asset to the AccountIdList</label>
        <locationX>440</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>AccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Incident_Related_Items_Records.Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ContactId_is_present_for_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the AccountId of the Case and add it to the AccountIdList</description>
        <name>Add_the_AccountId_of_the_Case_to_the_AccountIdList</name>
        <label>Add the AccountId of the Case to the AccountIdList</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AccountIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Case_Related_Issue_Records.Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ContactId_is_present_for_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the ContactId of the Asset and add it to the ContactIdList</description>
        <name>Add_the_ContactId_of_the_Asset_to_the_ContactIdList</name>
        <label>Add the ContactId of the Asset to the ContactIdList</label>
        <locationX>440</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ContactIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Incident_Related_Items_Records.Asset.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Incident_Related_Items_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get the ContactId of the case and add it to the ContactIdList</description>
        <name>Add_the_contactId_to_the_ContactIdList</name>
        <label>Add the ContactId of the case to the ContactIdList</label>
        <locationX>440</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ContactIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Case_Related_Issue_Records.Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Case_Related_Issue_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if AccountId is present for Asset</description>
        <name>Check_if_AccountId_is_present_for_Asset</name>
        <label>Check if AccountId is present for Asset</label>
        <locationX>352</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Add_the_AccountId_of_the_Asset_to_the_AccountIdList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountId is present</defaultConnectorLabel>
        <rules>
            <name>AccountId_is_not_present_for_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Incident_Related_Items_Records.Asset.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_ContactId_is_present_for_Asset</targetReference>
            </connector>
            <label>AccountId is not present for Asset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if AccountID is present for the Case</description>
        <name>Check_if_AccountID_is_present_for_Case</name>
        <label>Check if AccountID is present for Case</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Add_the_AccountId_of_the_Case_to_the_AccountIdList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountId is present</defaultConnectorLabel>
        <rules>
            <name>AccountId_is_not_present_for_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Case_Related_Issue_Records.Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_ContactId_is_present_for_Case</targetReference>
            </connector>
            <label>AccountId is not present for Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if ContactId is present for Asset</description>
        <name>Check_if_ContactId_is_present_for_Asset</name>
        <label>Check if ContactId is present for Asset</label>
        <locationX>352</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Add_the_ContactId_of_the_Asset_to_the_ContactIdList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactId is present</defaultConnectorLabel>
        <rules>
            <name>ContactId_is_not_present_for_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Incident_Related_Items_Records.Asset.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Incident_Related_Items_Records</targetReference>
            </connector>
            <label>ContactId is not present for Asset</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if ContactId is present for Case</description>
        <name>Check_if_ContactId_is_present_for_Case</name>
        <label>Check if ContactId is present for Case</label>
        <locationX>352</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Add_the_contactId_to_the_ContactIdList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ContactId is present</defaultConnectorLabel>
        <rules>
            <name>ContactId_is_not_present_for_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Case_Related_Issue_Records.Case.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Case_Related_Issue_Records</targetReference>
            </connector>
            <label>ContactId is not present for Case</label>
        </rules>
    </decisions>
    <description>Retrieve Impacted Accounts and Contacts Flow</description>
    <environments>Default</environments>
    <interviewLabel>Retrieve Impacted Accounts and Contacts Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Retrieve Impacted Accounts and Contacts Flow</label>
    <loops>
        <description>Iterate over all the Case Related Issue Records obtained from the previous step</description>
        <name>Loop_Over_Case_Related_Issue_Records</name>
        <label>Loop Over Case Related Issue Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Case_Related_Issue_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_AccountID_is_present_for_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Incident_Related_Items_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate over all Incident Related Items obtained from the previous step</description>
        <name>Loop_over_Incident_Related_Items_Records</name>
        <label>Loop over Incident Related Items Records</label>
        <locationX>176</locationX>
        <locationY>1286</locationY>
        <collectionReference>Get_All_Incident_Related_Items_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_AccountId_is_present_for_Asset</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieve all Incident Related Items records using &apos;Get Records&apos; flow element</description>
        <name>Get_All_Incident_Related_Items_Records</name>
        <label>Get All Incident Related Items Records</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Incident_Related_Items_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieving all the Case Related Issue records using &apos;Get Records&apos; flow element</description>
        <name>Get_Case_Related_Issue_Records</name>
        <label>Get All Case Related Issue Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Case_Related_Issue_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Related_Issue_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
