force-app/main/default/flows/Test_Site_Banner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Deactive</name>
        <label>Assign Deactive</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>loop_banners.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>audiencestodeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_banners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_banners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_variables_for_removal</name>
        <label>clear variables for removal</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>audiencestodeactivate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_banners</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddBanner</name>
        <choiceText>Add a Site Banner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddBanner</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthenticatedUsers</name>
        <choiceText>Authenticated Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AuthenticatedUsers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finish</name>
        <choiceText>Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <choices>
        <name>GuestUsers</name>
        <choiceText>All Site Visitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GuestUsers</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveBanner</name>
        <choiceText>Remove a Site Banner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RemoveBanner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Selected_Action</name>
        <label>Selected Action</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAdd_Banner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddBanner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Banner_Topics</targetReference>
            </connector>
            <label>Add Banner</label>
        </rules>
        <rules>
            <name>isRemove_Banner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RemoveBanner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Banners</targetReference>
            </connector>
            <label>Remove Banner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test - Site Banner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - Site Banner</label>
    <loops>
        <name>loop_banners</name>
        <label>loop banners</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>selectedBanners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Banners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Networks</name>
        <label>Loop Networks</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_BroadcastTopicNetworks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Broadcast_Comm_Audience</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Banners_activated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BC</name>
        <label>Create BC</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_Networks</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Banner_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastType</field>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <object>BroadcastCommunication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Broadcast_Comm_Audience</name>
        <label>Create Broadcast Comm Audience</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_Networks</targetReference>
        </connector>
        <inputAssignments>
            <field>AudienceId</field>
            <value>
                <elementReference>Loop_Networks.NetworkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastCommunicationId</field>
            <value>
                <elementReference>Create_BC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastType</field>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteBannerText</field>
            <value>
                <elementReference>Banner_Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteBannerVisibility</field>
            <value>
                <elementReference>Banner_Visibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>BroadcastCommAudience</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Banners</name>
        <label>Get Active Banners</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Banner_to_Deactivate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastCommAudience</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Banner_Topics</name>
        <label>Get Banner Topics</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Network</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastTopic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BroadcastTopicNetworks</name>
        <label>Get BroadcastTopicNetworks</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_BC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastTopicNetwork</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Banners</name>
        <label>Update Banners</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Banners_Deactivated</targetReference>
        </connector>
        <inputReference>audiencestodeactivate</inputReference>
    </recordUpdates>
    <screens>
        <name>Banners_activated</name>
        <label>Banners activated</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Page</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_deactivatedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Banners activated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Banners_Deactivated</name>
        <label>Banners Deactivated</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Main_Page</targetReference>
        </connector>
        <fields>
            <name>deactivatedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Banners deactivated!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Page</name>
        <label>Main Page</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Action</targetReference>
        </connector>
        <fields>
            <name>LookupIncident</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentIncidentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>incidentId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>AddBanner</choiceReferences>
            <choiceReferences>RemoveBanner</choiceReferences>
            <choiceReferences>Finish</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AddBanner</defaultSelectedChoiceReference>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Banner_to_Deactivate</name>
        <label>Select Banner to Deactivate</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>clear_variables_for_removal</targetReference>
        </connector>
        <fields>
            <name>bannersDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BroadcastCommAudience</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select banners to deactivate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Active_Banners</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;SiteBannerText&quot;,&quot;guid&quot;:&quot;column-b659&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Site Banner Text&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SiteBannerVisibility&quot;,&quot;guid&quot;:&quot;column-36c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Site Banner Visibility&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AudienceId&quot;,&quot;guid&quot;:&quot;column-920a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Audience ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedBanners</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Network</name>
        <label>Select Network</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BroadcastTopicNetworks</targetReference>
        </connector>
        <fields>
            <name>dtTopic</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BroadcastTopic</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Broadcast Topic</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Banner_Topics</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8419&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TopicType&quot;,&quot;guid&quot;:&quot;column-417d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Topic Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedTopic</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Banner_Body</name>
            <fieldText>Banner Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Banner_Visibility</name>
            <choiceReferences>GuestUsers</choiceReferences>
            <choiceReferences>AuthenticatedUsers</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GuestUsers</defaultSelectedChoiceReference>
            <fieldText>Banner Visibility</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_Page</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>audiencestodeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BroadcastCommAudience</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBanners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BroadcastCommAudience</objectType>
    </variables>
    <variables>
        <name>selectedTopic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BroadcastTopic</objectType>
    </variables>
</Flow>
