aim-base/main/default/flows/AIM_IncidentDetector.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Id of Case Records to avoid looping in the Flow</description>
        <name>Get_Case_Ids</name>
        <label>Get Case Ids</label>
        <locationX>809</locationX>
        <locationY>575</locationY>
        <actionName>AIMExtractStringsFromRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Related_Issues</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__collection</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collection</name>
            <value>
                <elementReference>Get_Similar_Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldRemoveDuplicates</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>caseIds</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Get Ids of Incidents from Case Related Issue records.</description>
        <name>Get_Incident_Ids</name>
        <label>Get Incident Ids</label>
        <locationX>248</locationX>
        <locationY>935</locationY>
        <actionName>AIMExtractStringsFromRecordsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Open_Incidents</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__collection</typeName>
            <typeValue>CaseRelatedIssue</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>RelatedIssueId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collection</name>
            <value>
                <elementReference>Get_Case_Related_Issues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shouldRemoveDuplicates</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>incidentIds</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Flow bulkification can populate the same Id collection for each created record causing duplicate record creation. This action removes such duplicates.</description>
        <name>Remove_duplicate_Case_Id_collection</name>
        <label>Remove duplicate Case Id collection</label>
        <locationX>446</locationX>
        <locationY>1295</locationY>
        <actionName>AIMDedupStringCollectionsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Filtered_Similar_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>collection</name>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>caseIds</assignToReference>
            <name>filteredCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add the newly created Case to the Cases Collection.</description>
        <name>Add_Case_to_Collection</name>
        <label>Add Case to Collection</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_Filtered_Similar_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Count</name>
        <label>Assign Case Count</label>
        <locationX>446</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Filtered_Similar_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Case_Count_Breach_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Related_Issues</name>
        <label>Set Case Related Issues</label>
        <locationX>336</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssue.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedIssues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRelatedIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>To avoid hitting Flow limits, filter only the first 800 Cases that are needed to be attached to the new Incident.</description>
        <name>Limit_the_Cases_To_Attach</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit the Cases To Attach</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Filtered_Similar_Cases</collectionReference>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <limit>800</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <description>Set the Case count threshold to create an Incident when the actual Case count breaches this value.</description>
        <name>caseCountThreshold</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Relative past duration(in minutes) for detecting Incident</description>
        <name>relativeDetectionDuration</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>600.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Related_Incidents_Found</name>
        <label>Are Related Incidents Found?</label>
        <locationX>809</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Remove_duplicate_Case_Id_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Incidents Not Found</defaultConnectorLabel>
        <rules>
            <name>Related_Incidents_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Related_Issues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incident_Ids</targetReference>
            </connector>
            <label>Related Incidents Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Related_Open_Incident_Found</name>
        <label>Are Related Open Incident Found?</label>
        <locationX>248</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Remove_duplicate_Case_Id_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Incident Found - Check for new Incident</defaultConnectorLabel>
        <rules>
            <name>Incident_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incidentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_to_Collection</targetReference>
            </connector>
            <label>Open Incident Found - Attach to Incident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Similar_Cases_Found</name>
        <label>Are Similar Cases Found?</label>
        <locationX>1353</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Similar Cases Not Found</defaultConnectorLabel>
        <rules>
            <name>Similar_Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Similar_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Ids</targetReference>
            </connector>
            <label>Similar Cases Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Count_Breach_Threshold</name>
        <label>Does Case Count Breach Threshold?</label>
        <locationX>446</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Under Threshold</defaultConnectorLabel>
        <rules>
            <name>Over_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>caseCountThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Incident</targetReference>
            </connector>
            <label>Over Threshold - Create Incident</label>
        </rules>
    </decisions>
    <description>This component is a record-triggered flow that executes on the creation of a case. Its purpose is to evaluate if the newly created case should either:

1. Be attached to an existing ongoing incident.
2. Used to create a new incident.

Either none or (at most) one of those outcomes may occur. This will be based on thresholds, and configurations the incident manager can set as part of a configuration.</description>
    <environments>Default</environments>
    <formulas>
        <description>Start time to check for similar Cases that were created time after this time.</description>
        <name>detectionStartTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-({!relativeDetectionDuration}/1440)</expression>
    </formulas>
    <formulas>
        <name>incidentDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Incident automatically created by the AIM detector.&quot; &amp; BR() &amp;
&quot;Case threshold of &apos;&quot; &amp; TEXT({!caseCountThreshold}) &amp; &quot;&apos;  similar cases breached.&quot;</expression>
    </formulas>
    <formulas>
        <name>incidentSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Incident - &apos; &amp; {!$Record.Subject}</expression>
    </formulas>
    <interviewLabel>AIM - Incident Detector {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Incident Detector</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>248</locationX>
        <locationY>2207</locationY>
        <collectionReference>Get_Filtered_Similar_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Related_Issues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Related_Issues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issues</name>
        <label>Create Case Related Issues</label>
        <locationX>248</locationX>
        <locationY>2543</locationY>
        <inputReference>caseRelatedIssues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>314</locationX>
        <locationY>1775</locationY>
        <assignRecordIdToReference>incidentId</assignRecordIdToReference>
        <connector>
            <targetReference>Limit_the_Cases_To_Attach</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>incidentDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetectedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>incidentSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordCreates>
    <recordLookups>
        <description>Get Case Related Issues records that have matching field values for the related Case record.</description>
        <name>Get_Case_Related_Issues</name>
        <label>Get Case Related Issues</label>
        <locationX>809</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Related_Incidents_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>In</operator>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedIssueId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filtered_Similar_Cases</name>
        <label>Get Filtered Similar Cases</label>
        <locationX>446</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>caseIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>detectionStartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Incidents</name>
        <label>Get Open Incidents</label>
        <locationX>248</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Related_Open_Incident_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>incidentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Incident</object>
        <outputAssignments>
            <assignToReference>incidentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Similar_Cases</name>
        <label>Get Similar Cases</label>
        <locationX>1353</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Similar_Cases_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reason</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Similar_Cases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRelatedIssue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>caseRelatedIssues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Filtered_Similar_Cases2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Ids of Incident from existing Case Related Issue</description>
        <name>incidentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
