aim-base/main/default/flows/AIM_Stage_Flow_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add the current Broadcast Communication Id to the Collection variable</description>
        <name>Add_Broadcast_Communication_Ids</name>
        <label>Add Broadcast Communication Ids</label>
        <locationX>490</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>broacastCommunicationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Broadcast_Comms.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Broadcast_Comms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make isBannerAdded boolean variable as True</description>
        <name>Assign_Banner_Added</name>
        <label>Assign Banner Added</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isBannerAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make isBannerRemoved boolean variable as True</description>
        <name>Assign_Banner_Removed</name>
        <label>Assign Banner Removed</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>isBannerRemoved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Case Variables to Update</description>
        <name>Assign_Case_Vars_to_Update</name>
        <label>Assign Case Variables to Update</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>currentCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cases_Updated</name>
        <label>Assign Cases Updated</label>
        <locationX>1282</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>isCasesUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the count to the variables</description>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>1678</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attached_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Completion_Checklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make isEmailSent boolean variable as True</description>
        <name>Assign_Emails_Sent</name>
        <label>Assign Emails Sent</label>
        <locationX>2338</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>isEmailSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make isMessagingSent Boolean variable as True</description>
        <name>Assign_Messaging_Sent</name>
        <label>Assign Messaging  Notification Sent</label>
        <locationX>3042</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isMessagingSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Make isSlackMessageSent Boolean variable as True</description>
        <name>Assign_Slack_Sent</name>
        <label>Assign Slack Notification Sent</label>
        <locationX>2778</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isSlackSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignError</name>
        <label>Assign Error</label>
        <locationX>3570</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_addBanner</name>
        <choiceText>{!$Label.AIM_Flow_ChannelAddBannerLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>addBanner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_closeCases</name>
        <choiceText>{!$Label.AIM_Flow_CloseCases}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>closecases</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_email</name>
        <choiceText>{!$Label.AIM_Flow_ChannelEmailLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>email</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_KB</name>
        <choiceText>{!$Label.AIM_Flow_CreateKB}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>knowledge</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_messaging</name>
        <choiceText>{!$Label.AIM_Flow_ChannelMessagingLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>messaging</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_removeBanner</name>
        <choiceText>{!$Label.AIM_Flow_ChannelRemoveBannerLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>removebanner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_slack</name>
        <choiceText>{!$Label.AIM_Flow_ChannelSlackLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>slack</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Depending on the Incident Manager&apos;s choice, take the corresponding action</description>
        <name>Checklist_Selection</name>
        <label>Checklist Selection</label>
        <locationX>1678</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Add_Banner_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks_InProgress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_addBanner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBannerAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Site_Banner</targetReference>
            </connector>
            <label>Add Banner</label>
        </rules>
        <rules>
            <name>Remove_Banner_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_removeBanner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBannerRemoved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Broadcast_Comms</targetReference>
            </connector>
            <label>Remove Banner</label>
        </rules>
        <rules>
            <name>Close_Cases_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_closeCases</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCasesUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Cases</targetReference>
            </connector>
            <label>Close Cases</label>
        </rules>
        <rules>
            <name>Knowledge_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Tasks</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_KB</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isKnowledgeCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Knowledge</label>
        </rules>
        <rules>
            <name>Email_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_for_sending_Core_Emails</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Slack_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_slack</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSlackSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Placeholder</targetReference>
            </connector>
            <label>Slack</label>
        </rules>
        <rules>
            <name>Messaging_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Broadcast_Communication</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_messaging</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isMessagingSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaging_Notifications_Placeholder</targetReference>
            </connector>
            <label>Messaging</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if any Email is sent</description>
        <name>Did_Emails_Send</name>
        <label>Emails sent ?</label>
        <locationX>2338</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Emails_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing Sent</defaultConnectorLabel>
        <rules>
            <name>Emails_Sent_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalEmailSuccesses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Broadcast_Communication</targetReference>
            </connector>
            <label>Emails Sent</label>
        </rules>
    </decisions>
    <description>This flow is pushed to an incident manager as a completion checklist for closing out an incident. Tasks may include: deactivating a site banner, creating a knowledge article from the incident, closing all attached cases, and/or sending out notifications for the incident.</description>
    <environments>Default</environments>
    <formulas>
        <description>isCompletedFlag is set to True if the status of the Incident is Completed or Resolved else it is set to False</description>
        <name>isCompletedFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(TEXT({!Get_Incident.Status}) == &apos;Resolved&apos;,TEXT({!Get_Incident.Status}) == &apos;Completed&apos;), true, false)</expression>
    </formulas>
    <interviewLabel>AIM - Stage Flow: Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Stage Flow: Automation</label>
    <loops>
        <description>Loop through Broadcast communication records</description>
        <name>Loop_Broadcast_Comms</name>
        <label>Loop Broadcast Communication</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_Broadcast_Comms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Broadcast_Communication_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Audiences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Attached_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Vars_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Broadcast Communication records</description>
        <name>Create_Broadcast_Communication</name>
        <label>Create Broadcast Communication</label>
        <locationX>2074</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Assign_Emails_Sent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BroadcastType</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputAssignments>
        <object>BroadcastCommunication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Active Audiences</description>
        <name>Get_Active_Audiences</name>
        <label>Get Active Audiences</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Site_Banner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExperienceSiteBanner</stringValue>
            </value>
        </filters>
        <filters>
            <field>BroadcastCommunicationId</field>
            <operator>In</operator>
            <value>
                <elementReference>broacastCommunicationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BroadcastCommAudience</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the Assets related to the Incident</description>
        <name>Get_Attached_Assets</name>
        <label>Get Attached Assets</label>
        <locationX>1678</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Impacted_Accounts_and_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the Cases attached to the Incident</description>
        <name>Get_Attached_Cases</name>
        <label>Get Attached Cases</label>
        <locationX>1678</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Assets</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the Broadcast Communication records related to the Incident</description>
        <name>Get_Broadcast_Comms</name>
        <label>Get Broadcast Communication</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Broadcast_Comms</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BroadcastCommunication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Incident Record</description>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>1678</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attached_Cases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases</name>
        <label>Update Cases</label>
        <locationX>1282</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Assign_Cases_Updated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <inputReference>casesToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Screen displaying the completion stage</description>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>3306</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>completeText_inprogress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_Notification_Complete}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!$Label.AIM_Flow_Click_To_Submit}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCompletedFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>completeText_completion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_Completion_Complete}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCompletedFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen displaying the checklist of items to the Incident Manager</description>
        <name>Display_Completion_Checklist</name>
        <label>Display Completion Checklist</label>
        <locationX>1678</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checklist_Selection</targetReference>
        </connector>
        <fields>
            <name>completionDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;Items affected by &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!caseCount}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; cases&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!assetCount}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; assets&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!contactCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; contacts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!accountCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; accounts&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Automation_Tasks_InProgress</name>
            <choiceReferences>choice_addBanner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select how to update customers about the incident.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCompletedFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Automation_Tasks</name>
            <choiceReferences>choice_removeBanner</choiceReferences>
            <choiceReferences>choice_closeCases</choiceReferences>
            <choiceReferences>choice_KB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incident Resolution Tasks</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isCompletedFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_Broadcast_Communication</name>
            <choiceReferences>choice_email</choiceReferences>
            <choiceReferences>choice_slack</choiceReferences>
            <choiceReferences>choice_messaging</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>Error Screen</label>
        <locationX>3570</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disperrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Error_Header}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!errorText}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Click_Previous}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is a placeholder for Messaging Notifications.</description>
        <name>Messaging_Notifications_Placeholder</name>
        <label>Messaging Notifications Placeholder</label>
        <locationX>3042</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Messaging_Sent</targetReference>
        </connector>
        <fields>
            <name>placeholderInfoForMessagingNotifications</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.AIM_Flow_Placeholder_for_Messaging_Notifications}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is a placeholder for Slack Notifications.</description>
        <name>Slack_Placeholder</name>
        <label>Slack Placeholder</label>
        <locationX>2778</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Slack_Sent</targetReference>
        </connector>
        <fields>
            <name>placeholderInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.AIM_Flow_Slack_Placeholder}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1552</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Add a Site Banner</description>
        <name>Add_Site_Banner</name>
        <label>Add Site Banner</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Banner_Added</targetReference>
        </connector>
        <flowName>broadcast_sites__AddBannerToSites</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Get the list of Accounts and Contacts impacted by the Incident</description>
        <name>Get_Impacted_Accounts_and_Contacts</name>
        <label>Get Impacted Accounts and Contacts</label>
        <locationX>1678</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <flowName>Retrieve_Impacted_Accounts_and_Contacts_Flow</flowName>
        <inputAssignments>
            <name>IncidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accounts</assignToReference>
            <name>AccountList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contacts</assignToReference>
            <name>ContactList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Remove Site Banner</description>
        <name>Remove_Site_Banner</name>
        <label>Remove Site Banner</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Assign_Banner_Removed</targetReference>
        </connector>
        <flowName>broadcast_sites__StopAllSiteBanners</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Active_Audiences.BroadcastCommunicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow for sending Core Emails</description>
        <name>Subflow_for_sending_Core_Emails</name>
        <label>Subflow for sending Core Emails</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Did_Emails_Send</targetReference>
        </connector>
        <flowName>AIM_SendCoreEmail</flowName>
        <inputAssignments>
            <name>contacts</name>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>emailBody</assignToReference>
            <name>emailBody</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSubject</assignToReference>
            <name>emailSubject</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>totalEmailSuccesses</assignToReference>
            <name>totalSuccessQueuedEmails</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Accounts Collection variable</description>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>assetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection variable containing the Id of the Broacast Communication records</description>
        <name>broacastCommunicationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>casesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Contacts Collection variable</description>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBannerAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isBannerRemoved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isCasesUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isEmailSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isKnowledgeCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isMessagingSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSlackSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>totalEmailSuccesses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
