aim-base/main/default/flows/AIM_Stage_Flow_First_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>858</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>impactedContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>impactedAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Incident_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exception</name>
        <label>Assign Error</label>
        <locationX>946</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incident_Not_Found</name>
        <label>Incident Not Found</label>
        <locationX>176</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AIM_Flow_Incident_Not_Found_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Incident_Status_to_Closed</name>
        <label>Update Incident Status to Closed</label>
        <locationX>506</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Get_Incident.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Incident</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>assets</name>
        <choiceText>{!$Label.AIM_Flow_First_Response_Remove_Assets_Value}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>cases</name>
        <choiceText>{!$Label.AIM_Flow_First_Response_Remove_Cases_Value}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>case</stringValue>
        </value>
    </choices>
    <choices>
        <name>close</name>
        <choiceText>{!$Label.AIM_Flow_First_Response_Close_Value}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>close</stringValue>
        </value>
    </choices>
    <choices>
        <name>proceed</name>
        <choiceText>{!$Label.AIM_Flow_First_Response_Proceed_Value}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>proceed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Incident_Is_Null</name>
        <label>Check If Incident Is Null</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incident is Not Null</defaultConnectorLabel>
        <rules>
            <name>Incident_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incidentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incident_Not_Found</targetReference>
            </connector>
            <label>Incident Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Incident_Valid</name>
        <label>Is Incident Valid?</label>
        <locationX>858</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>screenCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>isInvalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Next_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>close</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Closure_Options</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsIncidentFound</name>
        <label>Is Incident Found?</label>
        <locationX>462</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incident_is_null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Incident</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incident_Not_Found</targetReference>
            </connector>
            <label>Incident is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Case_Related_Items</name>
        <label>Remove Case Related Items?</label>
        <locationX>506</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Remove_Related_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesRemoveCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ckboxlistRemove_related_items</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>cases</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Case_Related_Issues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Related_Assets</name>
        <label>Remove Related Assets?</label>
        <locationX>506</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Update_Incident_Status_to_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRemoveAssets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ckboxlistRemove_related_items</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>assets</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Incident_Related_Items_Assets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>An approval flow that will get pushed to the AIM first response queue upon incident creation.</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Stage Flow: First Response {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Stage Flow: First Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Case_Related_Issues</name>
        <label>Delete Case Related Issues</label>
        <locationX>242</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Remove_Related_Assets</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Cases</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Incident_Related_Items_Assets</name>
        <label>Delete Incident Related Items (Assets)</label>
        <locationX>242</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Update_Incident_Status_to_Closed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Assets</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>462</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsIncidentFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Assets</name>
        <label>Get Related Assets</label>
        <locationX>858</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>858</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>858</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Impacted_Customers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Incident.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>506</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>screenCompleted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Exception</targetReference>
        </faultConnector>
        <inputReference>Get_Incident</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Closure_Options</name>
        <label>Display Closure Options</label>
        <locationX>506</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_Case_Related_Items</targetReference>
        </connector>
        <fields>
            <name>p1HeadingText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_First_Response_Remove_Items}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>p1FooterText_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!caseCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; cases&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!assetCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; assets&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ckboxlistRemove_related_items</name>
            <choiceReferences>cases</choiceReferences>
            <choiceReferences>assets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Remove related items</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;Flow Automation Pack for Incident Management&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; automatically removes the related items that you select.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Incident_Info</name>
        <label>Display Incident Info</label>
        <locationX>858</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Incident_Valid</targetReference>
        </connector>
        <fields>
            <name>p1HeadingText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>p1FooterText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Label.AIM_Flow_First_Response_User}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_User.Name} &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12px;&quot;&gt;on &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Get_Incident.CreatedDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!caseCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; cases&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!assetCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; assets&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!contactCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; contacts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!accountCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; accounts&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.AIM_Flow_First_Response_Proceed}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>proceed</choiceReferences>
            <choiceReferences>close</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>176</locationX>
        <locationY>3314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disperrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Error_Header}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!errorText}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Click_Previous}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenCompleted</name>
        <label>Completed</label>
        <locationX>858</locationX>
        <locationY>2762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completecheck</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>p1HeadingText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_First_Response_Complete}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_Click_To_Submit}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Incident_Is_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Impacted_Customers</name>
        <label>Get Impacted Customers</label>
        <locationX>858</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <flowName>Retrieve_Impacted_Accounts_and_Contacts_Flow</flowName>
        <inputAssignments>
            <name>IncidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>impactedAccounts</assignToReference>
            <name>AccountList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>impactedContacts</assignToReference>
            <name>ContactList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>assetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>impactedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>impactedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
