aim-base/main/default/flows/AIM_QualificationScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_AssetIds_from_Report</name>
        <label>Get AssetIds from Report</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <actionName>ReportDataRetrieverAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Existing_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>developerNames</name>
            <value>
                <elementReference>selectedReport.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AssetstoAddIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_CaseIds_from_Report</name>
        <label>Get CaseIds from Report</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <actionName>ReportDataRetrieverAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Existing_Attached_Cases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assignError</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>developerNames</name>
            <value>
                <elementReference>selectedReport.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CasesToAddIDs</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Incident_Related_Item</name>
        <label>Add Incident Related Item</label>
        <locationX>138</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>IncidentRelatedItem.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncidentRelatedItem.IncidentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IRIsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IncidentRelatedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Case_Related_Item</name>
        <label>Add New Case Related Item</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>caseRelatedItem.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Case_IDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedItem.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Similar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRelatedItem.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRIstoAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRelatedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Case_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Count</name>
        <label>Assign Asset Count</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AssetstoAddIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_Found_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Count</name>
        <label>Assign Case Count</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CasesToAddIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>relatedCaseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_RelatedCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAssets</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualification_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignError</name>
        <label>Assign Error</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>back</name>
        <choiceText>Go Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>back</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_relatedAssets</name>
        <choiceText>{!$Label.AIM_Flow_Qualification_RelatedAssetChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>findAssets</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_relatedCases</name>
        <choiceText>{!$Label.AIM_Flow_Qualification_RelatedCaseChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>findCases</stringValue>
        </value>
    </choices>
    <choices>
        <name>complete</name>
        <choiceText>Complete qualification stage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>complete</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assets_Found_0</name>
        <label>Assets Found?</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>No_records_found_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAssetsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_assets_to_add_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cases_Found</name>
        <label>Cases Found?</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>No_records_found_cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCasesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_cases_to_add</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Similar_Assets_Selected</name>
        <label>Find Similar Assets Selected?</label>
        <locationX>512</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>CompleteScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>findAssetsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedSelection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_relatedAssets</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_report_to_add_assets_from</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Similar_Cases_Selected</name>
        <label>Find Similar Cases Selected?</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Find_Similar_Assets_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>findCasesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedSelection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>choice_relatedCases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_report_to_add_cases_from</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This component is the qualification approval flow that is pushed to an incident manager. It allows them to determine the scope and scale of the incident, providing them with bulk methods for attaching cases/assets to the incident from a case or asset report. This flow will be pushed by the flow orchestration that is part of a different work item.</description>
    <environments>Default</environments>
    <interviewLabel>AIM - Qualification Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>AIM - Qualification Screen Flow</label>
    <loops>
        <name>Loop_Through_Assets</name>
        <label>Loop Through Assets</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <collectionReference>AssetstoAddIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Incident_Related_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Incident_Related_Items_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Case_IDs</name>
        <label>Loop Through Case IDs</label>
        <locationX>50</locationX>
        <locationY>1718</locationY>
        <collectionReference>CasesToAddIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_New_Case_Related_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Related_Issue_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issue_Records</name>
        <label>Create Case Related Issue Records</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Find_Similar_Assets_Selected</targetReference>
        </connector>
        <inputReference>CRIstoAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident_Related_Items_0_0</name>
        <label>Create Incident Related Items</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <connector>
            <targetReference>CompleteScreen</targetReference>
        </connector>
        <inputReference>IRIsToAdd</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RelatedCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Assets</name>
        <label>Get Related Assets</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IncidentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IncidentRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RelatedCases</name>
        <label>Get Related Cases</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedIssueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseRelatedIssue</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Format</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tabular</stringValue>
            </value>
        </filters>
        <filters>
            <field>Format</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Summary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Report</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FolderName</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompleteScreen</name>
        <label>Complete</label>
        <locationX>512</locationX>
        <locationY>3854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completeimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aim_check</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>categorizationcompletetext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;{!$Label.AIM_Flow_Qualification_Complete}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.AIM_Flow_Click_To_Submit}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cases added:&lt;strong&gt; {!caseCount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Assets added: &lt;strong&gt;{!AssetCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_assets_to_add_0</name>
        <label>Confirm assets to add</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Assets</targetReference>
        </connector>
        <fields>
            <name>caseaddconfirm_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12px;&quot;&gt;Select next to add&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12pt; font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!AssetCount} &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;assets from the&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent; font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif;&quot;&gt; &quot;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!selectedReport.Name}&quot; &lt;/strong&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;report to the incident. To add assets from a different report, go back and make your selection.&lt;/span&gt;&lt;span style=&quot;background-color: transparent; font-size: 12pt; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_cases_to_add</name>
        <label>Confirm cases to add</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Case_IDs</targetReference>
        </connector>
        <fields>
            <name>caseaddconfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12px;&quot;&gt;Select next to add &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!caseCount} &lt;/strong&gt;cases &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&quot;{!selectedReport.Name}&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-size: 12px;&quot;&gt;from the report to the incident. To add cases from a different report, go back and make your selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Error_Header}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!errorText}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.AIM_Flow_Click_Previous}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_records_found_asset</name>
        <label>No records found</label>
        <locationX>314</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_norecordsdisplay</name>
            <fieldText>&lt;p&gt;{!$Label.AIM_Flow_Qualification_NoRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_records_found_cases</name>
        <label>No records found</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>norecordsdisplay</name>
            <fieldText>&lt;p&gt;{!$Label.AIM_Flow_Qualification_NoRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualification_Selection</name>
        <label>Qualification Selection</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Similar_Cases_Selected</targetReference>
        </connector>
        <fields>
            <name>summarytext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Incident.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Status: {!Get_Incident.Status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Known related &lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;cases: &lt;/span&gt;&lt;strong&gt;{!relatedCaseCount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Known related assets: &lt;strong&gt;{!relatedAssets}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>relatedSelection</name>
            <choiceReferences>choice_relatedCases</choiceReferences>
            <choiceReferences>choice_relatedAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do with this incident?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_report_to_add_assets_from</name>
        <label>Select report to add Assets from</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_AssetIds_from_Report</targetReference>
        </connector>
        <fields>
            <name>assetQualificationReport</name>
            <fieldText>Asset Qualification Report</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>assetQualificationReport_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>assetReportDisplayText</name>
                    <fieldText>&lt;p&gt;{!$Label.AIM_Flow_Qualification_SelectAssetReport}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dtAssetReport</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Report</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select an Asset Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Reports</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-de0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Report Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FolderName&quot;,&quot;guid&quot;:&quot;column-2672&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Folder Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeveloperName&quot;,&quot;guid&quot;:&quot;column-baf9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Report Unique Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedReport</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_report_to_add_cases_from</name>
        <label>Select report to add cases from</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CaseIds_from_Report</targetReference>
        </connector>
        <fields>
            <name>caseQualificationReport</name>
            <fieldText>Case Qualification Report</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>caseQualificationReport_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>caseReportDisplayText</name>
                    <fieldText>&lt;p&gt;{!$Label.AIM_Flow_Qualification_SelectCaseReport}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DtCaseReports</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Report</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reports</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Reports</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6149&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Report Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FolderName&quot;,&quot;guid&quot;:&quot;column-9916&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Folder Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeveloperName&quot;,&quot;guid&quot;:&quot;column-76e5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Report Unique Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedReport</assignToReference>
                        <name>firstSelectedRow</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Filter_Existing_Assets</name>
        <label>Filter Existing Assets</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Assign_Asset_Count</targetReference>
        </connector>
        <flowName>AIM_FilterExistingIncidentRelatedItems</flowName>
        <inputAssignments>
            <name>assetIds</name>
            <value>
                <elementReference>AssetstoAddIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssetstoAddIds</assignToReference>
            <name>assetIds</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Filter_Existing_Attached_Cases</name>
        <label>Filter Existing Attached Cases</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Assign_Case_Count</targetReference>
        </connector>
        <flowName>AIM_FilterExistingIncidentRelatedItems</flowName>
        <inputAssignments>
            <name>caseIds</name>
            <value>
                <elementReference>CasesToAddIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CasesToAddIDs</assignToReference>
            <name>caseIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssetstoAddIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>caseRelatedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>CasesToAddIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRIstoAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncidentRelatedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IncidentRelatedItem</objectType>
    </variables>
    <variables>
        <name>IRIsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IncidentRelatedItem</objectType>
    </variables>
    <variables>
        <name>MergeIncidents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <name>relatedAssets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>relatedCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Report</objectType>
    </variables>
    <variables>
        <name>targetMergeIncident</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
